html {
  font-family: helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  font-size: 18px;
  color: white;
}

nav {
  margin-bottom: 50px;
  padding: 10px;
}

#banner, .menu-header {
  background-image: url("../resources/the-flatiron-building.png");
  background-size: cover;
  padding: 10px 0px;
}

.menu-header h3 {
  color: white;
}

.footer {
  padding-left: 20px;
  background-color: dimgray;
  text-align: left;
  display: flex;
  width: 100%;
  height: 40px;
}
